<!DOCTYPE HTML>
<html lang="en">


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:35 GMT -->

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="../asset/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="../asset/css/main.css" rel="stylesheet" type="text/css" />

</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="#" class="flex-c-m trans-04 p-lr-25"
                style="font-size: 40px;font-family:kaushan script; color: #205645;font-weight: bolder;">
                
                Timezy
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i>
                </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/productdata" class="active">Product List</a>

                        <a href="/admin/unlistedproducts" class="active">Unlisted Product</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-products-list.html"> <i
                            class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Users</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/editusers" class="active">Users</a>

                        <a href="/admin/blockedusers" class="active">Blocked Users</a>

                    </div>
                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/orders">Order list 1</a>

                    </div>

                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-orders-1.html"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Banners</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/addbanner">Add banner</a>
                        <a href="/admin/banner">banners</a>

                    </div>

                </li>

                <li class="menu-item has-submenu">
                    <a class="menu-link" href=""> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/insertproduct">Add product </a>
                       
                      
                    </div>

                </li>
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Categories </span>
                    </a>
                    <div class="submenu">
                        
                        <a href="/admin/addcategories">Add Categories</a>
                        <a href="/admin/categories">categories</a>
                      
                    </div>
                    
                </li>
               

                <li class="menu-item has-submenu">
                    <a class="menu-link" href="page-sellers-cards.html"> <i class="icon material-icons md-store"></i>
                        <span class="text">Coupon</span>
                    </a>
                    <div class="submenu">
                        <a href="/admin/loadaddcoupon">Add Coupon</a>
                        <a href="/admin/couponlist" class="active">Coupon List</a>
                        
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="/admin/salesreport"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Sales</span>
                    </a>
                </li>

                <li class="menu-item">
                    <a class="menu-link" disabled href="#"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <ul class="menu-aside">

            </ul>
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i
                        class="material-icons md-apps"></i> </button>
                <ul class="nav">
                  
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i
                                class="material-icons md-cast"></i></a>
                    </li>
                    
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount"
                            aria-expanded="false"> <img class="img-xs rounded-circle"
                                src="../asset/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit
                                Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account
                                Settings</a>
                            <a class="dropdown-item" href="#"><i
                                    class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help
                                center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="/admin/logout"><i
                                    class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Coupon List</h2>
                    <!-- <p>Lorem ipsum dolor sit amet.</p> -->
                </div>
                <div>
                    <!-- <a href="#" class="btn btn-light rounded font-md">Export</a>
                    <a href="#" class="btn btn-light rounded  font-md">Import</a> -->
                    <a href="/admin/loadaddcoupon" class="btn btn-primary btn-sm rounded">Create new</a>
                </div>
            </div>
            <div class="card mb-4">
                <header class="card-header">
                    <div class="row align-items-center">
                       
                        
                        <!-- <div class="col-md-2 col-6">
                            <input type="date" value="02.05.2021" class="form-control">
                        </div> -->
                        <div class="card">
                         
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th scope="col" class="col-check">Check</th>
                                                <th scope="col" class="col-name">Coupon Code</th>
                                                
                                                <th scope="col" class="col-expiry">Expiry Date</th>
                                                <th scope="col" class="col-price">Minimum Amount </th>
                                                <th scope="col" class="col-discount">Discount</th>
                                                <th scope="col" class="col-maximum">Maximum Discount</th>
                                                <th scope="col" class="col-action text-end">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% coupons.forEach((item) => { %>
                                            <tr>
                                                <td class="col-check">
                                                    <div class="form-check">
                                                        <input class="form-check-input" type="checkbox">
                                                    </div>
                                                </td>
                                                <td class="col-name">
                                                    
                                                       
                                                        <div class="info">
                                                            <h6 class="mb-0"><%=item.couponcode%></h6>
                                                        </div>
                                                       
                                                   
                                                </td>
                                                <td class="col-expiry" > <div class="info">
                                                    <h6 class="mb-0"><%=item.usedBy.toLocaleDateString()%></h6>
                                                </div></td>
                                                <td class="col-price"><span><%=item.
                                                    minimumAmount%></span></td>
                                               

                                                    <td class="col-discount"><span><%=item.
                                                        discountPercentage%> %</span></td>
                                                   

                                                        <td class="col-maximum"><span><%=item.maximumDiscount
                                                            %></span></td>
                                                        
                                                   
                                                
                                                <td class="col-action text-end">
                                                    <div class="btn-group">
                                                        <a href="/admin/edit-banner?id=<%=item._id%>" class="btn btn-sm font-sm rounded btn-brand">
                                                            <i class="material-icons md-edit"></i> Edit
                                                        </a>
                                                        <a href="/admin/delete-banner?id=<%=item._id%>" class="btn btn-sm font-sm btn-danger rounded">
                                                            <i class="material-icons md-delete"></i> Delete
                                                        </a>
                                                    </div>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>
                                </div>
                            </div> <!-- card-body end// -->
                        </div> <!-- card end// -->
                        

                   
                </div> <!-- card-body end// -->
            </div> <!-- card end// -->
            <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <li class="page-item active"><a class="page-link" href="#">01</a></li>
                        <li class="page-item"><a class="page-link" href="#">02</a></li>
                        <li class="page-item"><a class="page-link" href="#">03</a></li>
                        <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                        <li class="page-item"><a class="page-link" href="#">16</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a></li>
                    </ul>
                </nav>
            </div>
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    <script src="../asset/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="../asset/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="../asset/js/vendors/select2.min.js"></script>
    <script src="../asset/js/vendors/perfect-scrollbar.js"></script>
    <script src="../asset/js/vendors/jquery.fullscreen.min.js"></script>
    <!-- Main Script -->
    <script src="../asset/js/main.js" type="text/javascript"></script>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/page-products-list.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:33:12 GMT -->
</html>